# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c49b5b2123eed7335b1116d2dc910e6fc7337096aea1cb9667286ca8b3ed6d51da35858f5057d580c192921ec2d5131b5afeb691d0003a3a9a16bf098d7a8df1
  smtp:
    address: smtp.CHANGEME.com
    port: 587
    domain: crowdfundr.com
    user_name: admin@crowdfundr.com
    password: xxxxxxxx
  email:
    from: admin@crowdfundr.com
    reply_to: admin@crowdfundr.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: test@crowdfundr.com
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/
  # don't use this value in production
  allowed_origins: '*'

test:
  secret_key_base: d8c2c3e8683e7d3f521c5f05a3cf3df830dfcd0a02c692313d9cc4edc202f7b6640ce30125408e1b60ea534ac0343943f05af1138aa27256a1aeced63f8048b5
  smtp:
    address: smtp.crowdfundr.com
    port: 587
    domain: crowdfundr.com
    user_name: admin@crowdfundr.com
    password: xxxxxxxx
  email:
    from: admin@crowdfundr.com
    reply_to: admin@crowdfundr.com
    from_domain: 'example.com'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/
  # don't use this value in production
  allowed_origins: '*'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
